<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bike</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header class="flex flex-wrap px-12 py-6 justify-between bg-gray-50">
      <div>
        <img
          class="w-16 hover:cursor-pointer"
          src="/logo.png"
          alt="logo"
        />
      </div>
      <div>
        <ul
          class="flex flex-wrap gap-10 text-gray-700 pt-[12px] hover:cursor-pointer"
        >
          <li class="text-[14px]">
            PRODUCTS
            <span><i class="fa-solid fa-chevron-down pt-1 pl-1]"></i></span>
          </li>

          <li class="text-[14px]">GALLERY</li>
          <li class="text-[14px]">CONTACT</li>
        </ul>
      </div>
      <div class="pt- text-[14px]">
        <button class="px-6 py-2 bg-white rounded-[4px] hover:shadow-lg">LOG IN</button>
        <button class="border px-6 py-2 bg-gray-700 text-white rounded-[4px] hover:shadow-lg">
          SIGN UP
        </button>
      </div>
    </header>

    <div class="flex flex-wrap px-12 gap-1">
      <div class="py-20">
        <h1 class="text-8xl font-extralight text-gray-700 tracking">
          LET'S RIDE
        </h1>
        <h1 class="font-bold text-8xl text-gray-700 tracking">THE FUTURE.</h1>

        <h1 class="border-2 w-[360px] mt-20 border-gray-700"></h1>

        <div class="text-gray-700 text-xl pt-14">
          <p>Simple and sleek design with users</p>
          <p>in mind</p>
        </div>

        <div class="flex flex-wrap pt-10">
          <i
            class="fa-solid fa-right-long border p-5 bg-gray-700 text-white mt-4 hover:cursor-pointer"
          ></i>
          <p class="mt-8 text-gray-700 font-semibold ml-6 hover:cursor-pointer">
            Buy now
          </p>
          <div
            class="leading-5 text-gray-600 ml-20 mt-4 text-[15px] hover:cursor-pointer"
          >
            <p>Watch our</p>
            <p>videos how</p>
            <p>it works</p>
          </div>
          <div class="ml-6 w-[60px] mt-4">
            <img
              src="/dist/Milestome Repo/Project_3/assets/header play button.png"
              alt="img"
            />
          </div>
        </div>
      </div>
      <div class="w-[750px] pt-20">
        <img
          src="/dist/Milestome Repo/Project_3/assets/header image.png"
          alt=""
        />
      </div>
    </div>
    <div class="flex flex-wrap gap-6 ml-[1050px] px-12">
      <div class="w-[100px]">
        <img src="/dist/Milestome Repo/Project_3/assets/01.png" alt="" />
      </div>
      <div
        class="flex flex-wrap gap- border border-gray-400 m-4 rounded-l-full rounded-r-full"
      >
        <div class="py-2 pl-5 pr-4 hover:cursor-pointer text-gray-500">
          <i class="fa-solid fa-angle-left"></i>
        </div>
        <div
          class="py-2 pr-5 pl-4 border-[1px] hover:cursor-pointer text-gray-500 border-l-gray-400 border-r-0 border-y-0"
        >
          <i class="fa-solid fa-angle-right"></i>
        </div>
      </div>
    </div>

    <div class="py-20 px-12 flex flex-wrap text-center gap-[49px]">
      <div
        class="shadow-md px-5 py-4 text-gray-700 w-[182px] border border-gray-50"
      >
        <div class="flex flex-wrap gap-2 pb-2">
          <div class="text-5xl pl-4">105</div>
          <div class="pt-[23px]">lbs</div>
        </div>
        <div class="text-[14px]">Net Weight</div>
      </div>
      <div
        class="shadow-md px-5 py-4 text-gray-700 w-[182px] border border-gray-50"
      >
        <div class="flex flex-wrap gap-2 pb-2">
          <div class="text-5xl pl-5">26</div>
          <div class="pt-[23px]">mph</div>
        </div>
        <div class="text-[14px]">Top Speed</div>
      </div>
      <div
        class="shadow-md px-5 py-4 text-gray-700 w-[182px] border border-gray-50"
      >
        <div class="flex flex-wrap gap-2 pb-2">
          <div class="text-5xl pl-5">38</div>
          <div class="pt-[23px]">miles</div>
        </div>
        <div class="text-[14px]">Max Range</div>
      </div>
      <div
        class="shadow-md px-5 py-4 text-gray-700 w-[182px] border border-gray-50"
      >
        <div class="flex flex-wrap gap-2 pb-2">
          <div class="text-5xl pl-6">89</div>
          <div class="pt-[23px]">nm</div>
        </div>
        <div class="text-[14px]">Max Torque</div>
      </div>
      <div class="shadow-md px-5 py-4 text-gray-700 border border-gray-50">
        <div class="flex flex-wrap gap-2 pb-2">
          <div class="text-5xl">22%</div>
          <div class="pt-[23px]">slope</div>
        </div>
        <div class="text-[14px]">Hill Climbing</div>
      </div>
      <div
        class="shadow-md px-5 py-4 text-gray-700 w-[182px] border border-gray-50"
      >
        <div class="flex flex-wrap gap-2 pb-2">
          <div class="text-5xl pl-10">2x</div>
        </div>
        <div class="text-[14px]">Hydralic Disk Brake</div>
      </div>
    </div>

    <div class="py-12 text-center text-gray-700">
      <p class="text-4xl font-bold tracking-wide pb-5">Product Information</p>
      <p>Our Scooter has following unique design and technology features:</p>
    </div>

    <div class="px-12 flex flex-wrap gap-44">
      <div class="">
        <img
          src="/dist/Milestome Repo/Project_3/assets/product information image.png"
          alt="prod_info"
        />
      </div>
      <div>
        <div class="gap-4 flex flex-wrap pt-32 text-gray-700 pb-11">
          <div class="w-10">
            <img
              src="/dist/Milestome Repo/Project_3/assets/Icon.png"
              alt="icon"
            />
          </div>
          <div class="pt-2">Lightweight aircraft grade aluminium frame</div>
        </div>
        <div class="gap-4 flex flex-wrap pb-11 text-gray-700">
          <div class="w-10">
            <img
              src="/dist/Milestome Repo/Project_3/assets/Icon.png"
              alt="icon"
            />
          </div>
          <div class="pt-2">Car grade lithium battery</div>
        </div>
        <div class="gap-4 flex flex-wrap pb-11 text-gray-700">
          <div class="w-10">
            <img
              src="/dist/Milestome Repo/Project_3/assets/Icon.png"
              alt="icon"
            />
          </div>
          <div class="pt-2">Self-balanced</div>
        </div>
        <div class="gap-4 flex flex-wrap pb-11 text-gray-700">
          <div class="w-10">
            <img
              src="/dist/Milestome Repo/Project_3/assets/Icon.png"
              alt="icon"
            />
          </div>
          <div class="pt-2">Plug n play</div>
        </div>
        <div class="gap-4 flex flex-wrap pb-11 text-gray-700">
          <div class="w-10">
            <img
              src="/dist/Milestome Repo/Project_3/assets/Icon.png"
              alt="icon"
            />
          </div>
          <div class="pt-2">Quick release adapter</div>
        </div>
        <div class="gap-4 flex flex-wrap pb-11 text-gray-700">
          <div class="w-10">
            <img
              src="/dist/Milestome Repo/Project_3/assets/Icon.png"
              alt="icon"
            />
          </div>
          <div class="pt-2">RFID keycard</div>
        </div>
      </div>
    </div>

    <div class="pb-20 pt-5 text-center text-gray-700">
      <p class="text-4xl font-bold tracking-wide pb-5">High Efficiency Motor</p>
      <p>
        More torque for powerful riding with 22% maximum hill climbing capacity.
      </p>
    </div>

    <div class="ml-28 mb-10 w-[1200px]">
      <img
        src="/dist/Milestome Repo/Project_3/assets/high efficient.png"
        alt=""
      />
    </div>

    <div class="py-10 text-center text-gray-700">
      <p class="text-4xl font-bold tracking-wide pb-5">Multiple Accessories</p>
      <p>There are multiple odes for the scooter for your multiple needs.</p>
    </div>

    <div class="flex flex-wrap py-14">
      <div class="w-1/3 pt-12">
        <div
          class="pl-28 pb-9 text-[40px] text-gray-700 font-bold tracking-wide"
        >
          Golf Bag Rock
        </div>
        <div class="gap-4 flex flex-wrap pb-11 text-gray-700 pl-28">
          <div class="w-10">
            <img
              src="/dist/Milestome Repo/Project_3/assets/Icon.png"
              alt="icon"
            />
          </div>
          <div class="pt-2">Material : Aluminium alloy</div>
        </div>
        <div class="gap-4 flex flex-wrap pb-11 text-gray-700 pl-28">
          <div class="w-10">
            <img
              src="/dist/Milestome Repo/Project_3/assets/Icon.png"
              alt="icon"
            />
          </div>
          <div class="pt-2">Color : Black</div>
        </div>
        <div class="gap-4 flex flex-wrap pb-11 text-gray-700 pl-28">
          <div class="w-10">
            <img
              src="/dist/Milestome Repo/Project_3/assets/Icon.png"
              alt="icon"
            />
          </div>
          <div class="pt-2">Capacity : 45lbs</div>
        </div>
        <div class="gap-4 flex flex-wrap pb-11 text-gray-700 pl-28">
          <div class="w-10">
            <img
              src="/dist/Milestome Repo/Project_3/assets/Icon.png"
              alt="icon"
            />
          </div>
          <div class="pt-2">Ease : Steady and adjustable</div>
        </div>
      </div>
      <div>
        <img
          src="/dist/Milestome Repo/Project_3/assets/golf bag rock.png"
          alt=""
        />
      </div>
    </div>

    <div class="flex flex-wrap py-20">
      <div class="w-2/3 ml-[100px]">
        <img
          src="/dist/Milestome Repo/Project_3/assets/shopping rack.png"
          alt=""
        />
      </div>
      <div class="">
        <div class="pb-9 text-[40px] text-gray-700 font-bold tracking-wide">
          Shopping Rack
        </div>
        <div class="gap-4 flex flex-wrap pb-11 text-gray-700">
          <div class="w-10">
            <img
              src="/dist/Milestome Repo/Project_3/assets/Icon.png"
              alt="icon"
            />
          </div>
          <div class="pt-2">Material : Aluminium alloy</div>
        </div>
        <div class="gap-4 flex flex-wrap pb-11 text-gray-700">
          <div class="w-10">
            <img
              src="/dist/Milestome Repo/Project_3/assets/Icon.png"
              alt="icon"
            />
          </div>
          <div class="pt-2">Color : Black</div>
        </div>
        <div class="gap-4 flex flex-wrap pb-11 text-gray-700">
          <div class="w-10">
            <img
              src="/dist/Milestome Repo/Project_3/assets/Icon.png"
              alt="icon"
            />
          </div>
          <div class="pt-2">Capacity : 45lbs</div>
        </div>
        <div class="gap-4 flex flex-wrap pb-11 text-gray-700">
          <div class="w-10">
            <img
              src="/dist/Milestome Repo/Project_3/assets/Icon.png"
              alt="icon"
            />
          </div>
          <div class="pt-2">Ease : Steady and adjustable</div>
        </div>
      </div>
    </div>

    <div class="text-center my-12">
      <button
        class="text-gray-700 font-semibold text-2xl border border-gray-700 px-8 py-4 rounded-lg hover:shadow-lg hover:bg-gray-50"
      >
        More Accessories Coming Soon
      </button>
    </div>

    <div class="py-12 text-center text-gray-700">
      <p class="text-4xl font-bold tracking-wide pb-5">Gallery</p>
      <p>
        View gallery of our products and make yourself satisfied with our
        creation.
      </p>
    </div>

    <div class="flex flex-wrap px-12 py-16 gap-x-10 text-gray-700">
      <div>
        <img
          class="w-[650px] pt-[150px]"
          src="/dist/Milestome Repo/Project_3/assets/gallery_scooter.png"
          alt=""
        />
        <div></div>
        <div class="text-center text-4xl pt-14 tracking-wide">
          <button
            class="px-[209px] py-7 border border-gray-700 rounded-[8px] mb-8 hover:shadow-lg hover:bg-gray-50"
          >
            Battery Images</button
          ><br />
          <button
            class="px-[177px] py-7 border border-gray-700 rounded-[8px] mb-8 hover:shadow-lg hover:bg-gray-50"
          >
            Spare Parts Images</button
          ><br />
          <button class="px-[145px] py-7 border border-gray-700 rounded-[8px] hover:shadow-lg hover:bg-gray-50">
            Charging Cable Images</button
          ><br />
        </div>
      </div>
      <div>
        <img
          class="w-[650px] pb-20"
          src="/dist/Milestome Repo/Project_3/assets/gallery built quality.png"
          alt=""
        />
        <img
          class="w-[650px]"
          src="/dist/Milestome Repo/Project_3/assets/gallery parts.png"
          alt=""
        />
      </div>
    </div>

    <div class="py-12 text-center text-gray-700">
      <p class="text-4xl font-bold tracking-wide pb-5">Colors</p>
      <p>Check out our products colors.</p>
    </div>

    <div class="py-16">
      <div
        class="bg-[url('assets/gallery_scooter.png')] h-[1200px] border bg-no-repeat bg-cover bg-gray-400"
      >
        <div class="flex flex-wrap gap-2">
          <div class="mt-[1050px] w-[350px] hover:cursor-pointer">
            <img
              src="/dist/Milestome Repo/Project_3/assets/color-scooter-1.png"
              alt=""
            />
          </div>
          <div class="pt-[1050px] w-[350px] hover:cursor-pointer">
            <img
              src="/dist/Milestome Repo/Project_3/assets/color-scooter-2.png"
              alt=""
            />
          </div>
          <div class="pt-[1050px] w-[350px] hover:cursor-pointer">
            <img
              src="/dist/Milestome Repo/Project_3/assets/color-scooter-3.png"
              alt=""
            />
          </div>
          <div class="pt-[1050px] w-[350px] hover:cursor-pointer">
            <img
              src="/dist/Milestome Repo/Project_3/assets/color-scooter-4.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-40 pt-16 pb-20 bg-gray-50">
        <div>
            <div class="text-4xl font-bold tracking-wide text-gray-700 pb-10">Testimonials</div>
        </div>
        <div class="flex flex-wrap px-32 gap-20">
            <div class="py-10 px-6 border hover:bg-white hover:shadow-lg w-[340px]">
                <div class="text-orange-500 pb-4">
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                </div>
                <div class="pb-10 text-gray-700">
                    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate nostrum asperiores, distinctio expedita incidunt, architecto eaque voluptas aut, delectus beatae impedit veritatis.</div>
                </div>
                <div class="flex flex-wrap gap-4 pl-16">
                    <div>
                        <img src="/dist/Milestome Repo/Project_3/assets/serhiy hipskyy.png" alt="">
                    </div>
                    <div>
                        <div class="text-gray-700">Serhiy Hipskyy</div>
                        <div class="text-gray-500">CEO Universal</div>
                    </div>
                </div>
            </div>
            <div class="py-10 px-6 border hover:bg-white hover:shadow-lg w-[340px]">
                <div class="text-orange-500 pb-4">
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                </div>
                <div class="pb-10 text-gray-700">
                    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate nostrum asperiores, distinctio expedita incidunt, architecto eaque voluptas aut, delectus beatae impedit veritatis.</div>
                </div>
                <div class="flex flex-wrap gap-4 pl-16">
                    <div>
                        <img src="/dist/Milestome Repo/Project_3/assets/Justus Menke.png" alt="">
                    </div>
                    <div>
                        <div class="text-gray-700">Justus Menke</div>
                        <div class="text-gray-500">CEO Eronaman</div>
                    </div>
                </div>
            </div>
            <div class="py-10 px-6 border hover:bg-white hover:shadow-lg w-[340px]">
                <div class="text-orange-500 pb-4">
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                </div>
                <div class="pb-10 text-gray-700">
                    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate nostrum asperiores, distinctio expedita incidunt, architecto eaque voluptas aut, delectus beatae impedit veritatis.</div>
                </div>
                <div class="flex flex-wrap gap-4 pl-16">
                    <div>
                        <img src="/dist/Milestome Repo/Project_3/assets/Britain Eriksen.png" alt="">
                    </div>
                    <div>
                        <div class="text-gray-700">Britain Eriksen</div>
                        <div class="text-gray-500">CEO Universal</div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="flex flex-wrap gap-8 pt-10 ml-[650px]">
            <div class="py-3 px-4 rounded-full border border-gray-700 text-gray-700 hover:cursor-pointer"><i class="fa-solid fa-arrow-left-long"></i></div>
            <div class="py-3 px-4 rounded-full border bg-gray-700 text-white hover:cursor-pointer"><i class="fa-solid fa-arrow-right-long"></i></i></div>
        </div>
    </div>

    <div class="py-12 text-center text-gray-700">
        <p class="text-4xl font-bold tracking-wide pb-5">Subscribe To Newsletter</p>
        <p>Subscribe to our newsletter to get amazing offers in future.</p>
    </div>

    <div class="pb-20">
        <input class="pl-6 pr-28 py-4 ml-[480px] mr-3 bg-gray-50 rounded-lg hover:shadow-lg hover:bg-white" type="email" name="email" id="email" placeholder="Enter your email.">
        <button class="px-10 py-4 text-white bg-gray-700 border rounded-lg">Get Start</button>
    </div>

    <footer class="text-white bg-gray-700">
      
      <div class="flex flex-wrap">
      <div class="w-1/2 ">
        <img src="/dist/Milestome Repo/Project_3/assets/footer scooter.png" alt="">
      </div>
      <div class="flex flex-wrap gap-40 py-32">
        <div class="">
          <div class="font-semibold text-2xl pb-10">About</div>
          <div class="pb-7 hover:cursor-pointer">Company</div>
          <div class="pb-7 hover:cursor-pointer">Teams</div>
          <div class="pb-7 hover:cursor-pointer">Profile</div>
          <div class="pb-7 hover:cursor-pointer">Career</div>
        </div>
        <div class="">
          <div class="font-semibold text-2xl pb-10">Resources</div>
          <div class="pb-7 hover:cursor-pointer">Contact</div>
          <div class="pb-7 hover:cursor-pointer">Application</div>
          <div class="pb-7 hover:cursor-pointer">FAQ</div>
        </div>
        <div class="">
          <div class="font-semibold text-2xl pb-10">Legals</div>
          <div class="pb-7 hover:cursor-pointer">Copyright Privacy</div>
          <div class="pb-7 hover:cursor-pointer">Policy Disclaimer</div>
          <div class="pb-7 hover:cursor-pointer">Terms</div>
          <div class="flex flex-wrap gap-4">
            <i class="fa-brands fa-facebook-f px-3 py-2 rounded-full bg-white text-gray-700 hover:cursor-pointer"></i></i><i class="fa-brands fa-twitter px-2 py-2 rounded-full bg-white text-gray-700 hover:cursor-pointer"></i><i class="fa-brands fa-instagram px-2 py-2 rounded-full bg-white text-gray-700 hover:cursor-pointer"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center pb-8">
      &#169; Copyright 2021. All rights reserved.
    </div>
    </footer>
  </body>
</html>
