<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PixeLab</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="mx-24 my-8 font-serif">
    <header class="flex flex-wrap justify-between bg-white">
      <div class="w-[200px] mt-2 hover:cursor-pointer">
        <img src="/templates/Logo.png" alt="" />
      </div>
      <i class="fa-solid fa-bars text-3xl pt-2 md:hidden"></i>
      <div>
        <ul class="hidden md:flex  gap-14 pt-2">
          <li
            class="text-gray-700 hover:text-black hover:font-medium hover:cursor-pointer"
          >
            Home
          </li>
          <li
            class="text-gray-700 hover:text-black hover:font-medium hover:cursor-pointer"
          >
            About Us
          </li>
          <li
            class="text-gray-700 hover:text-black hover:font-medium hover:cursor-pointer"
          >
            Our App
          </li>
          <li
            class="text-gray-700 hover:text-black hover:font-medium hover:cursor-pointer"
          >
            Contact
          </li>
        </ul>
      </div>
      <div>
        <button class="mr-4 text-gray-700 hover:text-black hover:font-medium">
          Log in
        </button>
        <button
          class="py-2 px-6 rounded-lg bg-orange-500 hover:bg-orange-600 text-gray-50 hover:text-white hover:shadow-lg"
        >
          Sign up
        </button>
      </div>
    </header>

    <div class="flex flex-wrap pt-8">
      <div class="pt-32">
        <p class="font-bold text-7xl">
          We boost <br />
          growth for your <br />
          statup business
        </p>
        <p class="pt-8 text-[25px]">
          Our goal is top at the heart of creativity services industry <br />
          as a digital creator. In has a after comment
        </p>
        <div class="pt-20 flex flex-wrap gap-12">
          <button
            class="py-2 px-8 rounded-lg bg-orange-500 hover:bg-orange-600 text-gray-50 hover:text-white hover:shadow-lg"
          >
            Get Started
          </button>
          <div class="text-3xl py-1 px-2 rounded-full border-4 border-r-0 border-y-0 border-orange-500">
            <i class="fa-solid fa-circle-play"></i>
          </div>
          <div class="pt-2 font-semibold hover:cursor-pointer">
            Learn More
          </div>
        </div>
      </div>
      <div class="relative">
        <div class="w-[580px] py-12 ml-28 absolute mt-20">
            <img src="/Group 10.png" alt="">
        </div>
        <div class="mt-12">
            <div class="px-10 py-3 flex flex-wrap gap-6 rounded-bl-3xl shadow-lg ">
                <div class="text-3xl mt-2">
                    <i class="fa-solid fa-arrow-up-right-dots"></i>
                </div>
                <div>
                    <p class="font-semibold">100% Business Growth</p>
                    <div class="flex flex-wrap gap-3 text-sm">
                        <i class="fa-solid fa-star pt-1 text-yellow-400"></i>
                        <p class="font-semibold">4.9</p>
                        <p>(1520 Reviews)</p>
                    </div>
                </div>
            </div>
            <div class="shadow-lg p-[200px] absolute rounded-full bg-white ml-[250px] mt-10">
            </div>
            <div class="w-[450px] absolute ml-[200px]">
                <img src="/joyful-guy-texting-message-smartphone2 1.png" alt="">
                
            </div>
            <div class="mt-[350px] rounded-bl-3xl shadow-lg px-10 py-3">
                <p>100,000 Happy Clients</p>
                <div class="flex flex-wrap gap-3 text-sm">
                    <i class="fa-solid fa-star pt-1 text-yellow-400"></i>
                    <p class="font-semibold">4.9</p>
                    <p>(15k Reviews)</p>
                </div>
            </div>
            
        </div>
      </div>
    </div>

    <div class="text-center py-24">
        <p class="text-sm tracking-[5px] text-gray-500">SERVICE</p>
        <p class="text-4xl tracking-wider font-bold pt-2">Our Vison & Our Goal</p>
    </div>

    <div class="md:flex md:flex-wrap md:gap-24 md:text-center text-center">
        <div class="w-[350px] shadow-2xl rounded-2xl px-12 py-8">
            <i class="fa-solid fa-arrow-up-right-dots text-5xl mt-2"></i>
            <p class="text-2xl font-semibold pt-6">Graphic Design</p>
            <p class="pt-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Quisaue dui mi. bibendum eu erat id, ultricies semper metus. Nunc
                capibus laoreet dolor nec imperdiet.</p>
            <button class=" mt-6 py-2 px-8 rounded-lg bg-orange-500 hover:bg-orange-600 text-gray-50 hover:text-white hover:shadow-lg">Learn More</button>
        </div>
        <div class="w-[350px] shadow-2xl rounded-2xl px-12 py-8">
            <i class="fa-solid fa-video text-5xl mt-2"></i>
            <p class="text-2xl font-semibold pt-6">Video Editing</p>
            <p class="pt-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Quisaue dui mi. bibendum eu erat id, ultricies semper metus. Nunc
                capibus laoreet dolor nec imperdiet.</p>
            <button class=" mt-6 py-2 px-8 rounded-lg bg-orange-500 hover:bg-orange-600 text-gray-50 hover:text-white hover:shadow-lg">Learn More</button>
        </div>
        <div class="w-[350px] shadow-2xl rounded-2xl px-12 py-8">
            <i class="fa-solid fa-square-poll-vertical text-5xl mt-2"></i>
            <p class="text-2xl font-semibold pt-6">Digital Marketing</p>
            <p class="pt-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Quisaue dui mi. bibendum eu erat id, ultricies semper metus. Nunc
                capibus laoreet dolor nec imperdiet.</p>
            <button class=" mt-6 py-2 px-8 rounded-lg bg-orange-500 hover:bg-orange-600 text-gray-50 hover:text-white hover:shadow-lg">Learn More</button>
        </div>
    </div>

    <div class="flex flex-wrap pt-48 gap-56">
        <div class="pt-8">
            <p class="font-thin text-2xl tracking-wide">Many Blocks and <br> Components</p>
            <p class="tracking-wider pt-12 text-gray-500">Startup Framework contains components <br> and complex blocks which can easily be   <br> integrated into almost any design.</p>
            <button class="mt-28 border-2 px-8 py-2 rounded-[30px] border-gray-300 tracking-wide text-gray-700 hover:text-black hover:shadow-lg">Explore</button>
        </div>
        <div>
            <img src="/Video Player.png" alt="">
        </div>
    </div>
    
    <div class="text-center pt-32 pb-24">
        <p class="text-sm tracking-[5px] text-gray-500">TESTIMONIALS</p>
        <p class="text-4xl tracking-wider font-bold pt-2">What Clients say about us</p>
    </div>
    
    <div class="flex flex-wrap px-48 gap-20">
        <div class="flex flex-wrap gap-6 leading-7">
            <div>
                <img src="/Mask.png" alt="">
            </div>
            <div>
                <p class="text-gray-700">Get a fully retina ready site when <br>
                    you build with Startup rramework <br>
                    Websites look sharper and more <br> gorgeous on devices on retina <br> display support
                </p>
                <p class="text-gray-500 text-xs pt-6">RAYHAN CURRAN</p>
            </div>
        </div>
        <div class="flex flex-wrap gap-6 leading-7  ml-[105px]">
            <div>
                <img src="/Mask (1).png" alt="">
            </div>
            <div>
                <p class="text-gray-700">As a business targeting high net <br>
                    worth individuals, we were looking <br> for a slick. cool and mini-malistic <br>
                    design for our website
                </p>
                <p class="text-gray-500 text-xs pt-[50px]">KAYLE FRAME</p>
            </div>
        </div>
        <div class="flex flex-wrap gap-6 leading-7">
            <div>
                <img src="/Mask (2).png" alt="">
            </div>
            <div>
                <p class="text-gray-700">The most important part of the <br>
                    Startun Framework is the samoles
                </p>
                <p class="text-gray-500 text-xs pt-[90px]">GENE WHITEFIELD</p>
            </div>
        </div>
        <div class="flex flex-wrap gap-6 leading-7 ml-[101px]">
            <div>
                <img src="/Userpic.png" alt="">
            </div>
            <div>
                <p class="text-gray-700">I've built my website with Startup <br> just in one day, and it was ready-to- <br> go
                </p>
                <p class="text-gray-500 text-xs pt-[62px]">ALLAN KIM</p>
            </div>
        </div>
    </div>

    <div class="text-center pt-24 pb-16">
        <p class="text-sm tracking-[5px] text-gray-500">OUR TEAM</p>
        <p class="text-4xl tracking-wider font-bold pt-2">Meet The Team</p>
    </div>

    <div class="flex flex-wrap text-center tracking-wide gap-[143px]">
        <div class="border-2 border-gray-200 rounded-lg pt-8">
            <div class="px-24">
                <img src="/Mask (3).png" alt="">
            </div>
            <p class="pt-5 px-24">Vanessa Laird</p>
            <p class="text-gray-500 text-xs pt-3 px-24">UI DESIGNER</p>
            <div class="border-t-2 mt-8 flex flex-wrap">
                <div class="text-gray-400 border-l-0 border-t-0 border-b-0 border-2 px-11 py-3 hover:cursor-pointer">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="text-gray-400 border-l-0 border-t-0 border-b-0 border-2 px-11 py-3 hover:cursor-pointer">
                    <i class="fa-brands fa-square-facebook"></i>
                </div>
                <div class="text-gray-400 px-11 py-3 hover:cursor-pointer">
                    <i class="fa-solid fa-basketball"></i>
                </div>
            </div>
        </div>
        <div class="border-2 border-gray-200 rounded-lg pt-8">
            <div class="px-24">
                <img src="/Userpic (1).png" alt="">
            </div>
            <p class="pt-5 px-24">Mason Campbell</p>
            <p class="text-gray-500 text-xs pt-3 px-24">UI DESIGNER</p>
            <div class="border-t-2 mt-8 flex flex-wrap">
                <div class="text-gray-400 border-l-0 border-t-0 border-b-0 border-2 px-11 py-3 hover:cursor-pointer">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="text-gray-400 border-l-0 border-t-0 border-b-0 border-2 px-11 py-3 hover:cursor-pointer">
                    <i class="fa-brands fa-square-facebook"></i>
                </div>
                <div class="text-gray-400 px-11 py-3 hover:cursor-pointer">
                    <i class="fa-solid fa-basketball"></i>
                </div>
            </div>
        </div>
        <div class="border-2 border-gray-200 rounded-lg pt-8">
            <div class="px-24">
                <img src="/Userpic (2).png" alt="">
            </div>
            <p class="pt-5 px-24">Trea tvans</p>
            <p class="text-gray-500 text-xs pt-3 px-24">CLIENT MANAGER</p>
            <div class="border-t-2 mt-8 flex flex-wrap">
                <div class="text-gray-400 border-l-0 border-t-0 border-b-0 border-2 px-11 py-3 hover:cursor-pointer">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="text-gray-400 border-l-0 border-t-0 border-b-0 border-2 px-11 py-3 hover:cursor-pointer">
                    <i class="fa-brands fa-square-facebook"></i>
                </div>
                <div class="text-gray-400 px-11 py-3 hover:cursor-pointer">
                    <i class="fa-solid fa-basketball"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center py-24">
        <p class="text-sm tracking-[5px] text-gray-500">OUR TEAM</p>
        <p class="text-4xl tracking-wider font-bold pt-2">Subscribe Our Newsleter</p>
    </div>

    <div class="flex flex-wrap gap-64">
        <div class="w-[350px]">
            <img src="/Frame.png" alt="">
        </div>
        <div>
            <p class="pt-4">Lorem ipsum dolor sit amet. consectetur adipiscing elit. sed do eismod tempor <br> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            <input class="px-10 py-3 rounded-[30px] shadow-xl border w-[600px] mt-8" type="email" name="eamil" id="email" placeholder="Your E-mail here..."> <br>
            <button class="py-2 px-8 rounded-lg bg-orange-500 hover:bg-orange-600 text-gray-50 hover:text-white hover:shadow-lg w-[600px] my-12">Subscribe Our Newsletter</button>
        </div>
    </div>

    <div class="flex flex-wrap pt-36">
        <div class="w-[110px]">
            <img src="/Logo.png" alt="">
        </div>
        <div class="text-sm ml-[150px] text-gray-700">
            &#169; 2020 Epixelab. All rights reserved
        </div>
        <ul class="flex flex-wrap gap-10 text-sm ml-[342px] text-gray-700">
            <li class="hover:cursor-pointer">Portfolio</li>
            <li class="hover:cursor-pointer">How it Works</li>
            <li class="hover:cursor-pointer">Pricing</li>
            <li class="hover:cursor-pointer">About</li>
            <li class="hover:cursor-pointer">Login</li>
        </ul>
    </div>

    <div class="border my-6">

    </div>

    <div class="pt-4 text-sm text-gray-400">Startup Framework contains components and complex blocks which can easily be integrated into almost every design.</div>
  </body>
</html>
